.bgmain{
    background-color: #15637A;
}
.maincolor{
    color: #15637A;
}
header{
    background-image: url("../img/landing.jpg");
    background-position: center;
    background-size: cover;
}
.headerw{
width: 50%;
}
@media (max-width:992px) {
    .headerw{
        width: 70%;
    }
}
@media (max-width:768px) {
    .headerw{
        width: 100%;
    }
}
.w0{
    width: auto !important;
}
.headerbtn{
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
}
.text>h1{
    margin-bottom: 50px;
    position: relative;
}
.text>h1::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 2px;
    background-color: black;
}
.text>h1::before{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid black;
    z-index: 100;
}
.secondcolor{
    color: #19C8FA;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.info{
    background-image: url("../img/design-features.jpg");
    background-position: center;
    background-size: cover;
}
a{
    display: inline-block;
    padding: 7px;
    text-decoration: none;
    color: black;
}
.bgactive{
    background-color: #19C8FA;
}
.galleryitem{
    transform: translateY(100%);
    transition: .3s 0s transform linear;
}
.portfoilo .image:hover .galleryitem{
    transform: translateY(0);
}
.portfoilo .image img{
    transition: .3s 0s all linear;
}
.portfoilo .image:hover img{
    transform: scale(1.05)  rotate(2deg);
}
.bgvideo{
        background-color: rgb(21 99 122 /.5);
}
.aboutimg{
    transform: translateY(100px);
}
.stats{
    background-image: url("../img/stats.png");
    background-position: center;
    background-size: cover;
}
.bgstats{
    background-color: rgb(21 99 122);
}
.whskill{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.bar{
    height: 30px;
    background-color: #DEDADC;
    margin-bottom: 40px;
    position: relative;
}
.bar span{
    height: 100%;
    background-color: #19C8FA;
    display: block;
}
.content .bar:nth-child(2)>span{
    width: 90%;
}
.content .bar:nth-child(2)::after,
.content .bar:nth-child(4)::after,
.content .bar:nth-child(6)::after,
.content .bar:nth-child(8)::after{
    transform: translateX(-50%);
    content: "90%";
    position: absolute;
    left: 90%;
    top: -40px;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.content .bar:nth-child(2)::before,
.content .bar:nth-child(4)::before,
.content .bar:nth-child(6)::before,
.content .bar:nth-child(8)::before{
content: "";
position: absolute;
width: 0;
height: 0;
left: 90%;
transform: translateX(-50%);
top: -6px;
border: 5px solid black;
border-color: black transparent transparent transparent;
}
.content .bar:nth-child(4)>span{
    width: 85%;
}
.content .bar:nth-child(4)::after{
    content: "85%";
    left: 85%;
}
.content .bar:nth-child(4)::before{
    left: 85%;
}
.content .bar:nth-child(6)>span{
    width: 80%;
}
.content .bar:nth-child(6)::after{
    content: "80%";
    left: 80%;
}
.content .bar:nth-child(6)::before{
    left: 80%;
}
.content .bar:nth-child(8)>span{
    width: 90%;
}
.content .bar:nth-child(8)::after{
    content: "90%";
    left: 90%;
}
.quote{
    background-image: url("../img/quote.jpg");
    background-position: center;
    background-size: cover;
}
.layer{
    background-color: rgb(0 0 0 /.8);
}
.font60{
    font-size: 3.75rem;
}
.bcolor{
    border-color: #19C8FA !important;
}
.tcolor{
    color: #19C8FA !important;
}
.font60::before{
    position: relative;
    content: "$";
    top: -30px;
    left: -5px;
    font-size: 30px;
}
.font60::after{
    position: relative;
    content: "/MO";
    top: 5px;
    left: 5px;
    font-size: 30px;
}
.world{
    background-image: url("../img/subscribe.jpg");
    background-position: center;
    background-size: cover;
}
.h150{
    height: 150px;
}
.fitcontent{
    width: fit-content;
}
footer{
    background-image: url("../img/subscribe.jpg");
    background-position: center;
    background-size: cover;
}